﻿#divMasterDetailWrapper
{
    width: 95%;
    height: 300px;
    border: 1px solid Green;
    padding: 3px;
    margin: 15px 5px 15px 30px;
    font-family: Arial;
    font-size: 12px;
}
#divMasterView
{
    width: 300px;
    height: 300px;
    background-color: #E0E0E0;
    margin-right: 5px;
    overflow-y: auto;
    float: left;
}
#divDetailView
{
    height: 300px;

    /* Fadey background CSS, created with: http://www.colorzilla.com/gradient-editor/ */
    background: #c6ffc6; /* Old browsers */
    background: -moz-linear-gradient(top,  #c6ffc6 0%, #f2fff2 51%, #c6ffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6ffc6), color-stop(51%,#f2fff2), color-stop(100%,#c6ffc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6ffc6', endColorstr='#c6ffc6',GradientType=0 ); /* IE6-9 */

    padding: 0;
    overflow-y: auto;
}

/*
    *   This is the CSS for one Customer record, in our Master view
    *
    *   Each Customer record will have one overall <div> element, with one sub-<div> for each Customer field
    *   that we want to display.
    *
    *   For example, the Customer City values will all be added to the DOM with a CSS class of "cssCompanyCity",
    *   which sets their position in the "Customer" <div> to (23px, 40px)
    */
.cssdc {
    height: 47px;
    width: 98%;
    position: relative;         /* Very important, for appending child <div>s with absolute positioning later */
    border-bottom: 1px solid white;
}
.cssOneCompanyRecord:hover
{
    background-color: yellow;
    cursor: pointer;
}
.cssdcselect {
    /*  If this Company record has been selected, we'll display a Red vertical bar next to it */
    border-left: 2px solid Red;
    background-color: white;
}
.cssxmlname
{
    position:absolute;
    top: 5px;
    left: 40px;
}
.cssui_value
{
    position:absolute;
    top: 23px;
    left: 40px;
    color: #505050;
    font-size: 0.9em;
}
.cssCustomerID
{
    position:absolute;
    top: 31px;
    right: 5px;
    font-size: 0.7em;
    color: blue;
}
.cssCustomerIcon
{
    position:absolute;
    top: 12px;
    left: 7px;
    width: 24px;
    height: 24px;
}

/*
    *   This is the CSS for one "Order" record, in our Detail view
    *
    *   This one's a little more complicated, as, for each "Order", we'll have an Order Header, followed by a
    *   collection of "Product" <div>s in that order.
    *
    *   But, the theory is just the same.  Each "Product" values gets added to the DOM with a particular CSS class
    *   to allow us to set their position in the "Product" <div>.
    */

.cssOneOrderRecord
{
    width: 90%;
    position: relative;         /* Very important, for appending child <div>s with absolute positioning later */
    padding: 5px;
    border-bottom: 1px solid white;
    background-color: white;
    border: 1px solid #404040;
    margin: 15px 20px 15px 20px;
    overflow: no-display;
}
.cssOneOrderHeader {
    height: 40px;
    background-color: #E0E0E0;
    width: 100%;
    position: relative;
    margin: 0px 0px 4px 0px;

    background-image: url(Images/icnOrder.png);
    background-position: 10px 5px;
    background-repeat: no-repeat;
}
.cssOrderID
{
    position:absolute;
    left: 75px;
    top: 10px;
    font-weight: bold;
}
.cssOrderDate
{
    position:absolute;
    left: 300px;
    top: 10px;
}
.cssOneProductRecord
{
    width: 100%;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.cssOneProductQty
{
    position:absolute;
    left: 30px;
    top: 5px;
}
.cssOneProductName
{
    position:absolute;
    left: 100px;
    top: 5px;
}
.cssOneProductPrice
{
    position:absolute;
    left: 300px;
    top: 7px;
}
.cssOneProductSubtotal {
    position:absolute;
    left: 420px;
    top: 7px;
    overflow: hidden;
    height: 20px;
}
.cssOneOrderTotal {
    width: 100%;
    height: 32px;
    position: relative;
    background-color: #e0e0e0;
    margin: 10px 0px 4px 0px;
    font-weight: bold;
    border-top: dashed 1px black;
    overflow: hidden;
}

.cssProductEven {
    background-color: white;
}
.cssProductOdd {
    background-color: #F0F8F8;
}

