﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app='myApp'>
<head>

    <title></title>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
       <link href="dc.css" rel="stylesheet" />
    <script src="dc.js" type="text/javascript"></script>
 </head>
<body>
    <h1>Dc view</h1>
    <br />
    <div ng-controller='dc' style="position:absolute;">
        <div style="left:-30px;top:-1px;position:absolute;">
           
        </div>
        <div id="divMasterView">
			<ul>
            <li ng-repeat='Object in listOfObjects' >
             {{Object.xmlname}} - {{Object.ui_value}}
            </li>
			</ul>			
               
            
        </div>
        
         


</body>
</html>
