<!DOCTYPE html>
<html>

<head>
  <script  src="https://code.angularjs.org/1.3.15/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-app="app">
  <div ng-controller="phaidradcpromise">
    <h1></h1>
    DC: 
    <div>{{dc | json }}</div>
  </div>

</body>

</html>