<!DOCTYPE html>
<html>
<head>
<title>Inserimento dati in tabella con AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>





<style>
table, th , td {
  border: 2px dashed #9eb0c7;
  padding: 4px;
}
table tr:nth-child(odd) {
  background-color: #b0c4de;
}
table tr:nth-child(even) {
  background-color:#9B0014 ;
}
</style>
</head>
<body>
<div ng-app="showTable" ng-controller="arrayCtrl"> 
<table>
<tr>
<th>pid</th>

</tr>
<tr ng-repeat="x in members">
<td>{{ x.pid }}</td>

</tr>
</table>
</div>
<script>
/*
function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
	$(document).ready(function(){*/
var table = angular.module('showTable', []);
table.controller('arrayCtrl', function($scope, $http) {
    $http.get("https://phaidradev.cab.unipd.it/api/collection/o:62039/members")
    .success(function (response) {$scope.members = response.metadata.members;});
});
</script>
</body>
</html>