<html ng-app="app">
<head>
  <title>MIni motore di ricerca in angular per i dublin core</title>
</head>
<body>

<ng-view></ng-view>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script type="text/ng-template" id="/pids.html">
  Search: <input type="text" ng-model="search.name">
  <ul>
    <li ng-repeat="pid in pids | filter: search">
      <input type="checkbox" ng-model="pid.completed">
      <a href="#/{{$index}}">{{pid.name}}</a>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/pidDetails.html">
  <h1>{{ pid.name }}</h1>
  
  dc: <textarea>{{ pid.dc }}</textarea>
</script>

<script>
  angular.module('app', ['ngRoute'])
 

    .factory('pids', function(){
      return [
        { name: '61439', dc: '{"metadata":{"alerts":[],"dc":[{"ui_value":"All rights reserved","xmlname":"rights"},{"ui_value":"ita","xmlname":"language"},{"ui_value":"Gian Girolamo, Z. (Zannichelli)","xmlname":"creator"},{"ui_value":"2016-04-07T12:04:02.499Z","xmlname":"date"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"piante, lidi, Venezia, Zannichelli, tavole, illustrazioni, colori","xmlname":"subject"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"In Venezia : appresso Antonio Bortoli, 1735.\nTrattasi di parte delle tavole originali per il libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot; Opera postuma","xmlname":"description"},{"ui_value":"http:\/\/phaidradev.cab.unipd.it\/o:61439","xmlname":"identifier"},{"ui_value":"DEFAULT","xmlname":"format"},{"ui_value":"158798 bytes","xmlname":"format"},{"ui_value":"Page","xmlname":"type"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"Tavole originali del libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot;","xmlname":"title"},{"ui_value":"Bortoli, Antonio","xmlname":"publisher"}],"status":200}}' },
        { name: '61435', dc: ' {"metadata":{"alerts":[],"dc":[{"ui_value":"All rights reserved","xmlname":"rights"},{"ui_value":"ita","xmlname":"language"},{"ui_value":"Gian Girolamo, Z. (Zannichelli)","xmlname":"creator"},{"ui_value":"2016-04-07T12:04:02.499Z","xmlname":"date"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"piante, lidi, Venezia, Zannichelli, tavole, illustrazioni, colori","xmlname":"subject"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"In Venezia : appresso Antonio Bortoli, 1735.\nTrattasi di parte delle tavole originali per il libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot; Opera postuma","xmlname":"description"},{"ui_value":"http:\/\/phaidradev.cab.unipd.it\/o:61439","xmlname":"identifier"},{"ui_value":"DEFAULT","xmlname":"format"},{"ui_value":"158798 bytes","xmlname":"format"},{"ui_value":"Page","xmlname":"type"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"Tavole originali del libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot;","xmlname":"title"},{"ui_value":"Bortoli, Antonio","xmlname":"publisher"}],"status":200}}'},
		{ name: '61222', dc: ' {"metadata":{"alerts":[],"dc":[{"ui_value":"All rights reserved","xmlname":"rights"},{"ui_value":"ita","xmlname":"language"},{"ui_value":"Gian Girolamo, Z. (Zannichelli)","xmlname":"creator"},{"ui_value":"2016-04-07T12:04:02.499Z","xmlname":"date"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"piante, lidi, Venezia, Zannichelli, tavole, illustrazioni, colori","xmlname":"subject"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"In Venezia : appresso Antonio Bortoli, 1735.\nTrattasi di parte delle tavole originali per il libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot; Opera postuma","xmlname":"description"},{"ui_value":"http:\/\/phaidradev.cab.unipd.it\/o:61439","xmlname":"identifier"},{"ui_value":"DEFAULT","xmlname":"format"},{"ui_value":"158798 bytes","xmlname":"format"},{"ui_value":"Page","xmlname":"type"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"Tavole originali del libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot;","xmlname":"title"},{"ui_value":"Bortoli, Antonio","xmlname":"publisher"}],"status":200}}'}
		
      ];
    })
    
    // La sezione del controller
   
    .controller('pidController', ['$scope', 'pids', function ($scope, pids) {
      $scope.pids = pids;
    }])
    .controller('pidDetailCtrl', ['$scope', '$routeParams', 'pids', function ($scope, $routeParams, pids) {
      $scope.pid = pids[$routeParams.id];
    }])
    
	
	
	// Le routes
	
    .config(['$routeProvider', function ($routeProvider) {
      $routeProvider
        .when('/', {
          templateUrl: '/pids.html',
          controller: 'pidController'
        })
        .when('/:id', {
          templateUrl: '/pidDetails.html',
          controller: 'pidDetailCtrl'
       });
    }]);
</script>

</body>
</html>