<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 
<div ng-app="myApp2" ng-controller="myCtrl2"> 
<p>>DC oggetto</p>



<!DOCTYPE html>
<html>
<body>

<p>Selettore DC oggetti digitali</p>







  <select name="Oggetti digitali">
    <option value="61439"><h1>{{dcoggetto1}}</h1></option>
    <option value="61435"><h1>{{dcoggetto2}}</h1></option>
    
  </select>
  <br><br>

</form>

</body>
</html>


</div>

<p></p>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $http.get("https://phaidradev.cab.unipd.it/api/object/o:61439/dc")
  .then(function(response) {
      $scope.dcoggetto1 = response.data;
  });
});
</script>


<script>
var app2 = angular.module('myApp2', []);
app.controller('myCtrl2', function($scope, $http) {
  $http.get("https://phaidradev.cab.unipd.it/api/object/o:61435/dc")
  .then(function(response) {
      $scope.dcoggetto2 = response.data;
  });
});
</script>




</body>
</html>
