<head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
  <meta charset="utf-8">
 
<body>
  <h1 style="text-align:center;">pra</h1>   
<link rel="stylesheet" property="stylesheet" href="//phaidrastaticdev.cab.unipd.it/collectionviewer/app/css/app.css">
<script data-main="config-require.js" src="require.min.js"></script>
<div id="collectionApp" class="ng-scope">
  
<div id="collectionConfig" data-ng-init="collection.pid='o:64296';collection.organization='';collection.organizationEmail='';"></div>
<div data-collection-directive="" data-ng-controller="CollectionController" class="ng-scope">


</div><!-- collection.html -->


     